{
  "only": "*.js",
  "env": {
    "production": {
      "presets": ["es2015-node4"],
      "plugins": [
        ["transform-flow-strip-types"],
        ["transform-inline-imports-commonjs"],
        ["transform-runtime", { "polyfill": true, "regenerator": false }]
      ]
    },
    "development": {
      "presets": ["es2015-node4"],
      "plugins": [
        ["transform-flow-strip-types"],
        ["transform-inline-imports-commonjs"]
      ]
    }
  },
  "presets": ["node5", "stage-0"],
  "plugins": [
    ["transform-flow-strip-types"],
    ["transform-inline-imports-commonjs"],
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ]
}