{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "impliedStrict":true
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-unused-vars":0,
    "no-unused-labels":0,
    "no-console":0,
    "no-cond-assign":2,
    "no-constant-condition":2,
    "no-unsafe-negation":2,
    "no-template-curly-in-string":2,
    "arrow-body-style":2,
    "no-extra-parens":2,
    "valid-jsdoc":2,
    "accessor-pairs":2,
    "array-callback-return":2,
    "block-scoped-var":2,
    "consistent-return":2,
    "default-case":1,
    "callback-return":1,
    "no-sync":2
  }
}